/* * {
    outline: 1px dotted coral; 
} */
header p{
    display: inline-block;
    color: rgb(83, 88, 95);
    align-self: center;
}
header img{
    width: 100px;
}
#seed{
    background-image: url('../img/semilla.jpg');
    height: 400px;
}
#meto{
    background-image: url('../img/metodo.JPG');
    height: 400px;
}
#fondo{
    background-image: url('../img/fondo.jpg');
    height: 400px;
}
.proyect{
    width: 500px;
}
.team{
    border-radius: 50%;
}
.rrss{
    width: 40px;
}
#fondo2{
    background-image: url('../img/fondo2.jpg');
    height: 480px;
}
#post1{
    background-image: url('../img/fotos/img-0400.JPG');
    height: 200px;
}
#post2{
    background-image: url('../img/fotos/img-9246.jpg');
    height: 200px;
}
#post3{
    background-image: url('../img/fotos/IMG_0334.JPG');
    height: 200px;
}
.bord{
    border: 1px solid white;
    min-height: 250px;
}
footer p{
    margin: 0;
}
h1,h2,h3,h4,h5{
    font-family: 'OpenSans-Bold';
}
p{
    font-family: 'OpenSans-Regular';
}