/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
}
/* * { outline: 1px dotted red; } */
h1, h2, p, li{
    color: white;
}
a{
    color: aquamarine;
    /* text-decoration: none; */
}
span{
    color:purple;
}
ul{
    margin-left: 20px;
}
li p{
    display: inline;
}
#wrapper{
width: 970px;
background-color:#1b345d;
margin: 0px auto;
padding: 10px;
}
#header{
background-color:#cf3036;
padding: 10px;
border-radius: 10px;
}
#sidebar{
min-height: 200px;
width: 175px;
background-color:#297d8c;
display: inline-block;
vertical-align: top;
margin: 15px 10px 0 0;
padding: 10px;
border-radius: 10px;
}
#main_content{
min-height: 400px;
width: 730px;
background-color:#0e1822;
display: inline-block;
margin: 15px 0;
padding: 25px 15px;
border-radius: 10px;
}
#footer{
min-height: 20px;
background-color:#5d6673;
margin: 15px 0;
padding: 10px;
border-radius: 10px;
}