/* * {
    outline: 1px dotted red; 
} */
#container{
    width: 1000px;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
}
header,footer{
    min-height: 50px;
    background-color: #f4f4f4;
    /* padding: 10px; */
}
header h1{
    display: inline-block;
    width: 625px;
    font-family: 'Comic Neue', cursive;
    margin-left: 25px;
}
header h3{
    display: inline-block;
    text-align: right;
}
footer p,a{
    text-align: center;
    color: black;
    height: 10px;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;
}
#main_content{
    min-height: 500px;
    background-color: purple;
    background: radial-gradient(circle,pink, rgb(61, 25, 61));
    padding: 20px 25px;

}
#photo{
    width: 40%;
    background-color: silver;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
}
#photo img{
    width: 380px;
}
#about{
    min-height: 265px;
    width: 58%;
    background: linear-gradient(90deg, #f4f4f4, pink);
    display: inline-block;
    vertical-align: top;
}
.project{
    min-height: 600px;
    width: 33%;
    background: linear-gradient(90deg, #f4f4f4, pink);
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    margin-right: 0px;
}
img{
    width: 313px;
}
.title,.tech{
    color: #f4f4f4;
    /* background-color: silver; */
    background: linear-gradient(180deg, darkgray, gray, darkgray);
    font-weight: bold;
    padding: 5px;
}
.title{
    font-size: larger;
}
.tech{
    font-size: large;
}
.text{
    font-size: small;
}
.text p{
    min-height: 120px;
}
p{
    padding: 10px;
}
.badge img{
    width: 40px;
    display: inline-block;
    margin: 9px;
}
.button p{
    text-align: center;
}
.button a{
    text-decoration: none;
    color:#f4f4f4;
    background-color: darkgreen;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: bold;
    box-shadow: 5px 5px 10px black;
}
footer img{
    width: 20px;
    display: inline-block;
    margin: 0 5px;
}