* {
    outline: 1px dotted blue; 
}

h1 {
    background-color: #B3B3B3;
}

.main {
    background-color: #CCCCCC;
}

.width {
    background-color: #FFFF9A;
}

span {
    font-weight: bold;
}

@media only screen and (max-width: 720px){
    .md, .lg{
        display: none;
    }
}
@media only screen and (min-width: 721px){
    .sm, .lg{
        display: none;
    }
}
@media only screen and (min-width: 1200px){
    .md, .sm{
        display: none;
    }
    .lg {
        display: block;
    }
}
