body {
    background-image: url("darkpattern.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color: ghostwhite;
}
/* FIXME:  pokedex fija -> position: sticky */
.pokedex{
    background-image: url("pokedex.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 130px;
    position: sticky;
}
.screen {
    background: radial-gradient(circle,MediumAquaMarine, darkcyan);
    min-height: 240px;
    width: 80%;
    margin: auto;
    border-radius: 3%;
    border: brown solid 5px;
}
#gif {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#autor {
    margin-top: 60px;
    color: darkred;
    font-size: small;
    text-decoration: none;
}
a {
    color: darkred;
    font-weight: bold;
    text-decoration: none;
}